[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "chromadb>=1.3.7",
    "fastapi>=0.124.4",
    "groq>=0.37.1",
    "python-dotenv>=1.2.1",
    "uvicorn>=0.38.0",
]
